@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*** Body */

body{
    background-color: rgb(230, 230, 230);
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    height: 85dvh;
}

/***navigation Bar **/

nav{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1em 6em 1em 6em;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
}

nav > ul > li{
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/***** Blog Container *****/
.blog-content-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 85vh;
}


/**** post container **/
.blog-space-container {
    padding: 15px 90px;
    height: 73vh;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 20px; 
    font-size: 2em;      
    font-weight: bold;   
    color: #333;         
    border-bottom: 2px solid #ddd;
    padding:10px 90px; 
}

.container{
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
}

.edit , .delete {
    padding: 5px 15px;
    border-radius: 5px;
    border-style: none;
}

.edit , .delete:hover{
    cursor: pointer;
}

/**** Form **/

.form-container {
    height: 60dvh;
    width: 50dvh;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

form {
    width: 100%; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%; 
}

label {
    font-weight: bold;
    margin-bottom: 5px; 
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 150px; 
    resize: vertical; 
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a{
    text-decoration: none;
    color: #ccc;
}

.post-container{
    gap: 50px;
}